<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations 
    xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0" 
    xmlns="http://agavi.org/agavi/config/parts/settings/1.0">
    <ae:configuration>
        <settings prefix="common.">
            <setting name="geo_service.url">https://api.berlinonline.net/boapi/geo/ask.json</setting>
            <setting name="geo_service.auth.">
                <ae:parameter name="user">geo.midas</setting>
                <ae:parameter name="pwd">WnrwDf7qFAFk3xTrbaQ</setting>
            </setting>
        </settings>
    </ae:configuration>
</ae:configurations>
