<div class="wrapper" style="padding: 0px 20px">
    <div class="row-fluid" style="padding-top: 85px">
        <div>
            <div class="job-count-graph" style="width: 1000px; height: 300px; margin-top: 20px;"></div>
            <div class="memory-graph" style="width: 1000px; height: 300px; margin-top: 20px;"></div>
        </div>
    </div>
    <div class="push"></div>
</div>