/**
 * Layout common
 */
 html,
 body
 {
    height: 100%;
 }

html
{
    background: url('../binaries/dashboard_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body
{
    padding: 0;
    background: none;
}

h1
{
    font-size: 30px;
    text-shadow: 1px 1px 1px #454545;
    color: white;
    margin-bottom: 1em;
    margin-top: 70px;
}

p.info-paragraph
{
    font-size: 12pt;
    margin-bottom: 1em;
}

p.tip-paragraph
{
    font-size: 12pt;
}

ul.dl-horizontal
{
    list-style: none;
    margin: 0;
    overflow: hidden;
    text-shadow: 1px 1px 1px #454545;
    color: white;
}

ul.dl-horizontal li
{
    float: left;
    margin-right: 1em;
}

ul.dl-horizontal b.label
{
    color: #4674A6;
    text-shadow: 1px 1px 1px #efefef;
    background: white;
    font-weight: normal;
}

.info-box
{
    margin-top: 5em;
    border: 1px solid #efefef;
    width: 25em;
    background-color: rgba(253, 253, 253, 0.6);
}
