<div class="sidebar sidebar-hidden" data-controller="SidebarController">
    <div class="slots">
    </div>
    <div class="edge-handles">
        <i class="icon icon-chevron-right expand"></i>
        <i class="icon icon-th drag" draggable="true"></i>
        <i class="icon icon-chevron-left collapse"></i>
    </div>
    <div class="push"></div>
</div>
