<div class="sidebar sidebar-hidden" data-controller="SidebarController" data-controller-options="{{sidebar_controller_options|json_encode}}">
    <div class="slots">
    {% for slot in slots %}
        {{ slot|raw }}
    {% endfor %}
    </div>
    <div class="edge-handles">
        <i class="hb-icon-arrow-right expand" title="Seitenleiste aufklappen"></i>
        <i class="hb-icon-transfer drag" draggable="true" title="Größe der Seitenleiste ändern"></i>
        <i class="hb-icon-arrow-left collapse" title="Seitenleiste zuklappen"></i>
    </div>
    <div class="push"></div>
</div>
