<input type="hidden" data-bind="attr: { name: fieldname }" value="" />
<ul class="thumbnails asset-list" data-bind="foreach: assets">
    <li class="asset-item">
        <h5>
            <span data-bind="if: $data.has_id"><a data-bind="attr: { href: $data.url, title: $data.name }, text: $data.name"></a></span>
            <span data-bind="if: ! $data.has_id()"><span data-bind="text: $data.name"></span></span>
        </h5>
<!-- thumbnail -->
        <div class="thumbnail">
            <img data-bind="attr: { src: $data.url }" />
        </div>
<!-- additional data list -->
        <dl data-bind="if: $data.has_id">
            <dt>Bildunterschrift<dt>
            <dd data-bind="text: $data.caption_txt"></dd>
            <dt>Copyright<dt>
            <dd data-bind="text: $data.copyright_txt"></dd>
            <dt>Copyright-Url<dt>
            <dd data-bind="text: $data.copyright_url_txt"></dd>
        </dl>
<!-- action dropdown -->
        <div class="btn-group dropdown" data-bind="if: $data.has_id">
            <button class="btn" data-bind="click: function() { $parent.onEditClicked($data); }">Bearbeiten</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" data-bind="click: function() { $parent.onDeleteClicked($data); }">L&ouml;schen</a>
                </li>
            </ul>
        </div>
<!-- hidden assset-id value posted to the aggregateRoot -->
        <div data-bind="if: $data.has_id">
            <input type="hidden" data-bind="value: $data.id, attr: { name: $parent.fieldname }" />
        </div>
<!-- progress bar -->
        <div data-bind="if: !$data.has_id()">
            <div class="progress progress-striped active" style="width: 100%;">
                <div class="bar" data-bind="style: { width: $data.progress() + '%' }"></div>
            </div>
        </div>
    </li>
</ul>
<!-- edit additional data modal dialog -->
<div class="modal modal-edit-asset" style="display: none">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Bilddaten bearbeiten</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">Bildunterschrift</label>
            <div class="controls">
                <input type="text" name="caption" class="span4 input-caption" value="" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Copyright</label>
            <div class="controls">
                <input type="text" name="copyright" class="span4 input-copyright" value="" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Copyright-Url</label>
            <div class="controls">
                <input type="text" class="span4 input-copyright-url" value="" />
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" data-twodal-event="onstoredata" value="Bilddaten speichern">
        </div>
    </div>
</div>
