<input type="input" class="tagslist-input"
       data-bind='value: current_tag,
                   valueUpdate: "afterkeydown",
                   hasfocus: has_focus,
                   event: { keypress: onInput }' />
<input type="hidden" value=""
       data-bind="attr: { name: fieldname }" />
<ul class="tagslist-value-list" style="display: none;"
    data-bind="foreach: tags">
  <li class="tagslist-value">
      <input type="hidden"
             data-bind="attr: { name: $parent.fieldname() },
                        value: $data.value" />
  </li>
</ul>
<button class="btn btn-success tagslist-btn-add" href="#" 
        data-bind="enable: enabled, 
                   click: addCurrentTag">
  <i class="icon-plus icon-white"></i>
</button>
<ul data-bind="foreach: tags" class="tagslist-list nav nav-pills nav-stacked pill-container">
    <li class="tagslist-tag">
        <a href="#" onclick="return false;">
            <span data-bind="text: $data.label" /> <i data-bind="click: function(data) { $parent.removeTag(data); }" class="icon-remove icon-white"> </i>
        </a>
    </li>
</ul><br clear="all" />