<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations
    xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0"
    xmlns="http://agavi.org/agavi/config/parts/settings/1.0"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <!--
        APPLICATION DEFAULT SETTINGS
    -->
    <ae:configuration>
        <system_actions>
            <system_action name="default">
                <module>Default</module>
                <action>Index</action>
            </system_action>
            <system_action name="error_404">
                <module>Default</module>
                <action>Error404</action>
            </system_action>
            <system_action name="login">
                <module>User</module>
                <action>Login</action>
            </system_action>
            <system_action name="module_disabled">
                <module>Default</module>
                <action>ModuleDisabled</action>
            </system_action>
            <system_action name="secure">
                <module>Default</module>
                <action>Secure</action>
            </system_action>
            <system_action name="unavailable">
                <module>Default</module>
                <action>Unavailable</action>
            </system_action>
        </system_actions>

        <settings>
            <setting name="app_name">Honeybee CMF</setting>
            <setting name="project_prefix">honeybee</setting>
            <setting name="available">true</setting>
            <setting name="debug">false</setting>
            <setting name="use_database">true</setting>
            <setting name="use_logging">true</setting>
            <setting name="use_security">true</setting>
            <setting name="use_translation">true</setting>
            <setting name="context_implementation">Honeybee\Agavi\Context</setting>
            <setting name="test_bootstrap_tpl">%core.app_dir%/../testing/TestCaseMethod.tpl</setting>
            <setting name="gravatar_url_tpl">http://www.gravatar.com/avatar/{EMAIL_HASH}?s=41</setting>
            <setting name="auth_provider">Honeybee\Core\Security\Auth\StandardAuthProvider</setting>
            <setting name="apache_tika">%core.app_dir%/../bin/tika-app-1.4.jar</setting>
        </settings>

        <settings prefix="password_constraints.">
            <setting name="min_decimal_numbers">1</setting>
            <setting name="min_uppercase_chars">0</setting>
            <setting name="min_lowercase_chars">1</setting>
            <setting name="min_string_length">10</setting>
            <setting name="max_string_length">32</setting>
            <setting name="similarity_percentage_threshold">70</setting>
            <setting name="minimum_levenshtein_distance">5</setting>
        </settings>

        <settings prefix="service.short_ids.">
            <setting name="connection">Service.ShortIds</setting>

        </settings>

        <settings prefix="assets.">
            <setting name="mime_database">/usr/share/misc/magic.mgc</setting>
            <setting name="base_dir">%core.app_dir%/../data/assets</setting>
        </settings>

        <settings prefix="workflow.">
            <setting name="publish_steps">
                <ae:parameter>published</ae:parameter>
            </setting>
            <setting name="default_revoke_transitions">
                <ae:parameter>published~promote</ae:parameter>
                <ae:parameter>published~demote</ae:parameter>
                <ae:parameter>published~delete</ae:parameter>
            </setting>
        </settings>

        <exception_templates>
            <exception_template>%core.agavi_dir%/exception/templates/shiny.php</exception_template>
            <exception_template context="console">%core.agavi_dir%/exception/templates/plaintext.php</exception_template>
        </exception_templates>
    </ae:configuration>

    <!--
        DEVELOPMENT ENVIRONMENT SETTINGS
    -->
    <ae:configuration environment="development.*">
        <settings>
            <setting name="debug">true</setting>
        </settings>
    </ae:configuration>

    <!--
        TESTING ENVIRONMENT SETTINGS
    -->
    <ae:configuration environment="testing.*">
        <settings>
            <setting name="fixtures_dir">%core.app_dir%/../testing/fixtures/</setting>
            <setting name="default_context">web</setting>
            <setting name="auth_provider">Honeybee\Core\Security\Auth\SimpleAuthProvider</setting>
            <setting name="simple_logins">
                <ae:parameters>
                    <ae:parameter name="test0r">
                        <ae:parameter name="pwd_hash">$2a$07$YTjxeE4by2.JrUHSQVf4C.JayHdienZ.a0Z244YlMVl.JpIr4Cvym</ae:parameter>
                        <ae:parameter name="attributes">
                            <ae:parameter name="acl_role">honeybee-editor</ae:parameter>
                            <ae:parameter name="login">test0r</ae:parameter>
                            <ae:parameter name="name">Testing Proccess</ae:parameter>
                            <ae:parameter name="email">no-reply@example.com</ae:parameter>
                        </ae:parameter>
                    </ae:parameter>
                </ae:parameters>
            </setting>
        </settings>
        <settings prefix="assets.">
            <setting name="mime_database">/usr/share/misc/magic.mgc</setting>
            <setting name="base_dir">%core.app_dir%/../data/testing/assets</setting>
        </settings>
    </ae:configuration>

    <!-- custom settings.xml files from all dat0r modules -->
    <xi:include href="%core.app_dir%/config/includes/settings.xml" xpointer="xmlns(ae=http://agavi.org/agavi/config/global/envelope/1.0) xpointer(/ae:configurations/*)">
        <xi:fallback />
    </xi:include>

    <!-- custom project settings.xml that may override both the app defaults and module specific settings -->
    <xi:include href="%core.app_dir%/../../project/app/config/settings.xml" xpointer="xmlns(ae=http://agavi.org/agavi/config/global/envelope/1.0) xpointer(/ae:configurations/*)">
        <xi:fallback />
    </xi:include>

</ae:configurations>
