<div class="container wrapper">
    <form class="well" action="{{ ro.gen(NULL) }}" method="post" style="margin-top: 20%;">
        <input type="hidden" value="{{ token }}" name="token" />
        <fieldset>
            <legend>{{tm._('Please enter a new password','user.ui')}}:</legend>
            <div class="control-group">
                <label for="user_password" class="control-label">Password</label>
                <input type="password" id="user_password" name="password" />
            </div>
            <div class="control-group">
                <label for="user_password_repeat" class="control-label">Repeat Password</label>
                <input type="password" id="user_password_repeat" name="password_repeat" />
            </div>
            <button style="display: block;" type="submit" class="btn btn-primary"> {{tm._('Set Password','user.ui') }}</button>
        </fieldset>
    </form>
</div>
