<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
    <ae:configuration>
        <module enabled="true">

            <!--
            ############################
            #         Agavi Core       #
            ############################
            -->
            <settings>
                <!-- module meta data -->
                <setting name="title">Events Module</setting>
                <setting name="homepage">http://www.berlinonline.de</setting>
                <setting name="update_url" />
                <setting name="description">
                    This module provides access to event data, thereby integrating into the Import
                    and the Workflow modules by providing the required interface implementations with events specialization.
                </setting>
                 <setting name="authors">
                    <ae:parameter name="thorsten.schmitt-rink@berlinonline.de">Thorsten Schmitt-Rink</ae:parameter>
                </setting>

                <!-- impl directory layout -->
                <setting name="agavi.action.path">%core.module_dir%/${moduleName}/impl/${actionName}/${actionName}Action.class.php</setting>
                <setting name="agavi.cache.path">%core.module_dir%/${moduleName}/impl/${actionName}/${actionName}.cache.xml</setting>
                <setting name="agavi.template.directory">%core.module_dir%/${module}/impl/</setting>
                <setting name="agavi.validate.path">%core.module_dir%/${moduleName}/impl/${actionName}/${actionName}.validate.xml</setting>
                <setting name="agavi.view.path">%core.module_dir%/${moduleName}/impl/${viewName}View.class.php</setting>
                <setting name="agavi.view.name">${actionName}/${actionName}${viewName}</setting>
            </settings>

        </module>
    </ae:configuration>
</ae:configurations>