<div class="container wrapper">
    <div class="well" style="margin-top: 20%;">
        <h2>{{ tm._('reset_success_title', 'user.messages')|raw }}</h2>
        <p>{{ tm._('reset_success_msg', 'user.messages')|raw }}</p>
    </div>
</div>