<div class="container wrapper">
    <div class="well" style="margin-top: 20%;">
        <p>Eine Email wurde an die angegebene Adresse versendet.</p>
        <p>Bitte überprüfen sie ihr Postfach.</p>
    </div>
</div>