.navbar {
    .nav[role="navigation"] {
        margin-right: 0;
    }
    .overflow-nav {
        width: 50px;
        height: 40px;
        outline: 1px solid blue;
        float: left;

        margin: 0;

        
    }
}
