@dropBorderColor: rgba(255, 128, 0, 0.5);
@dropShadowColor: rgba(255, 128, 0, 1.0);

/* category */
@treeModuleNameText: #424547;
@treeModuleNameBackground: #e3e3e3;
@treeModuleNameBorder: #000;

/* node labels*/
@treeItemText: #424547;
@treeItemBackground: #f5f5f5;
@treeItemBullet: #aeaeae;

@treeItemHoverBackground: rgba(141, 192, 219, 0.25);
@treeItemHoverText: #424547;

/* highlighted/active node labels */
@treeItemActiveText: #fff;
@treeItemActiveBackground: #0088cc;
@treeItemActiveBullet: #fff;

.container-tree-data, .sidebar-tree {

    h3 {
        margin: 0;
        padding-left: 20px;
        color: @treeModuleNameText;
        background: @treeModuleNameBackground;
        border-bottom: 1px solid @treeModuleNameBorder;
    }

    .render-tree {

        color: @treeItemText;
        background-color: @treeItemBackground;

        .children {
            margin: 0;
            padding: 0;
        }

        .child {
            position: relative;
            margin: 0;
            padding: 0;

            list-style-position: inside;
            list-style-type: none;

            cursor: default;

            &.closed {
                > .children {
                    display: none;
                }
            }

            &.highlighted .child {
                color: @treeItemText;
                background-color: @treeItemBackground;
            }

            .node-toggle {
                cursor: default;
                cursor: hand;
                cursor: pointer;
                color: @treeItemText;
            }

            .node-label {
                -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                box-sizing: border-box;

                display: inline-block;
                padding: 0;
                margin: 0;

                width: 100%;
                max-width: 100%;

                line-height: 37px;

                cursor: default;
                cursor: hand;
                cursor: pointer;

                &:hover,
                &:focus {
                    background-color: @treeItemHoverBackground;
                    color: @treeItemHoverText;
                }

                .node-toggle {
                    display: inline-block;
                    width: 1em;
                    padding-left: 1em;
                }

                .check {
                    margin: 10px 5px 13px 5px;
                    display: inline-block;
                }

                .name {
                    cursor: move;
                }
            }

            .node-controls {
                position: absolute;
                right: 0;
                top: 4px;

                cursor: default;
                cursor: hand;
                cursor: pointer;

                .control {
                    display: block;
                    float: right;

                    padding: 0 10px;
                    border-right: 1px solid gray;

                    cursor: default;
                    cursor: hand;
                    cursor: pointer;

                    &:first-child {
                        border-right: none;
                    }

                    .icon {
                        font-size: 1.4em;
                    }
                }

                .move {
                    display: inline-block;
                    border: 1px solid #c4c4c4;
                    padding: 2px 3px 2px 4px;
                    border-radius: 11px;
                    height: 24px;
                    vertical-align: middle;
                    text-align: right;
                    text-decoration: none;

                    background-color: white;

                    .control-label {
                        display: none;
                        padding-left: 5px;
                    }

                    &:hover {
                        .control-label {
                            display: inline-block;
                        }
                    }

                    .icon-move {
                        font-size: 1.3em;
                        line-height: 1.3em;
                        display: inline-block;
                    }
                }

                .move-cancel {
                    display: inline-block;
                    border: 1px solid #c4c4c4;
                    padding: 2px 3px 2px 4px;
                    border-radius: 11px;
                    height: 24px;
                    vertical-align: middle;
                    text-align: right;
                    text-decoration: none;

                    background-color: white;

                    .control-label {
                        display: inline-block;
                        padding-left: 5px;
                        padding-right: 5px;
                    }

                }

                .move-target {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    height: 30px;
                    overflow: hidden;
                    li {
                        position: relative;
                        display: inline-block;
                        width: 28px;
                        height: 28px;

                        border-radius: 15px;
                        background-color: #ffa421;
                        border: 1px solid #ed981e;
                        color: white;
                        text-align: center;

                        .arrow {
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            top: 4px;
                            left: 5px;
                            text-align: center;
                            vertical-align: middle;
                        }
                    }

                    .move-before {
                        .arrow {
                            top: 2px;
                            left: 5px;
                        }
                    }
                    .move-inside {
                        .arrow {
                            top: 4px;
                            left: 6px;
                        }
                    }
                    .move-after {
                        .arrow {
                            top: 4px;
                            left: 5px;
                        }
                    }
                }
            }

            &.expandable {
                > .node-label {
                    > .node-toggle {
                        display: inline-block;
                        color: @treeItemActiveBackground;
                    }
                }

                > .node-label:hover {
                    > .node-toggle {
                        color: @treeItemActiveBackground;
                    }
                }
            }


            .dropzone {
                content: " ";
                position: absolute;
                display: block;
                height: 5px;
                width: 100%;
                border: 1px solid @dropBorderColor;
                background-color: @dropBorderColor;
                box-shadow: 0 0 5px @dropShadowColor;
                padding: 10px;
                left: -10px;
                border-radius: 5px;
            }

            &.drop-before {
                &:before {
                    .dropzone();
                    top: -5px;
                }
            }
            &.drop-after {
                &:after {
                    .dropzone();
                    bottom: -5px;
                }
            }
            &.drop-inside {
                > .node-label {
                    box-shadow: 0 0 5px @dropShadowColor;
                }
            }

        }

        .child > .children >
        .child .node-label {
            padding-left: 1.8em;
        }

        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 3.6em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 5.4em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 7.2em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 9em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 10.8em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 12.6em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 14.4em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 16.2em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 18em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 19.8em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 21.6em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 23.4em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 25.2em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 27em;
        }

        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child > .children >
        .child .node-label {
            padding-left: 28.8em;
        }
    }
}

.sidebar-tree .render-tree {
    position: relative;

    .child {
        min-width: 20em;

        .node-label > .node-toggle {
            padding-left: 0.2em;
        }

        &.highlighted {

            > .node-label {
                color: @treeItemActiveText;
                background-color: @treeItemActiveBackground;

                > .node-toggle {
                    color: @treeItemActiveText;
                }
            }

            &:hover {
                > .node-label {
                    > .node-toggle {
                        color: @treeItemActiveText;
                    }
                }
            }
        }
    }

    .clear-list-filter {
        position: absolute;
        top: 15px;
        right: 0;
    }
}


