.container-tree-data {
    .render-tree {
        .children {
        margin-left: 0;
        }
        
        .child {
            list-style: none;
            list-style-posistion: inside;
            
            &.even {
                background-color: #fff;
            }

            &.odd {
                background-color: #eee;
            }

            .node-label {
                height: 30px;
                display: block;
            }
        }
    }
}
