body
{
    padding-top: 40px;
}

.topbar .topbar-inner
{
    position: relative;
}

.pagination .active a,
.zebra-striped tbody tr:hover td,
.zebra-striped tbody tr:hover th
{
    background-color: rgba(141, 192, 219, 0.25);
}

table
{
    margin-bottom: 0;
}

table td
{
    vertical-align: middle;
}

table .title a
{
    font-size: 14px;
}

tfoot tr td
{
    font-weight: bold;
}

.topbar .search-form
{
    position: relative;
    margin-right: 16px;
}

.reset-search
{
    position: absolute;
    position: absolute;
    right: 5px;
    color: #404040;
    opacity:0.4;
    font-size: 23px;
    font-weight: bold;
    background: none;
    top: 0;
}

.reset-search:hover
{
    text-decoration: none;
    color: #000000;
}

.hidden
{
    display: none;
}

.search-message-box
{
    margin: 16px 0 0 0;
    position: static;
}

.search-message
{
    margin: 0;
}

.logout
{
    margin-top: 10px;
    font-size: 12pt;
}

.top
{
    position: static;
    margin-top: 16px;
}

.pagination:first-child
{
    margin-top: 0;
}
.pagination .disabled span
{
    background-color: transparent;
    color: #BFBFBF;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
    display: block;
}

.data-header th,
.data-header td
{
    padding: 0;
}

.data-header a
{
    display: block;
    color: #404040;
    padding: 9px 10px;
}

.data-header .sorted
{
    background-color: rgba(23, 127, 255, 0.2);
}

.data-header .desc
{
    background-repeat: no-repeat;
    background-image: url(data:image/gif;base64,R0lGODlhLQALAIQfANTU1EVFRfb29mZmZtHR0XR0dP39/fr6+np6euHh4dzc3KWlpcnJydra2iYmJubm5tjY2FNTU/Hx8erq6uPj4z4+Pqmpqaampt/f36urqzExMS4uLqenp6OjoyUlJf///yH5BAEAAB8ALAAAAAAtAAsAAAWQ4CeOJHWQqEhEzua+cLxpyJOOzUUYN9kEnqBwSPQgBL1PrnMBnJIfBbBYdBQmScWiw10woKIflVh43jDcdMcC4EEhlbHHgUhkL2o1AfyBTIsDEkkYHHlqHARmPQB/QXRYPRhbhnkAfARxQoGDeJR5GW1gAJkFdpGFnpQQfKMRNj0UGQsctLW2txegijcMpj0hADs=);
    background-position: 95% center;
}

.data-header .asc
{
    background-repeat: no-repeat;
    background-image: url(data:image/gif;base64,R0lGODlhLQALAIQfANTU1EVFRfb29mZmZtHR0XR0dP39/fr6+np6euHh4dzc3KWlpcnJydra2iYmJubm5tjY2FNTU/Hx8erq6uPj4z4+Pqmpqaampt/f36urqzExMS4uLqenp6OjoyUlJf///yH5BAEAAB8ALAAAAAAtAAsAAAWQ4CeOZMKQqHgA2cW9cCwvGZWOT1QBNwp1wKBw2OFgep9EwePZIUUGFnF6OfYkAyazQniKANPhwnqbIBxaZoD3PBA44SI5hU2nAxDvhxC+KJAJZ3ZpFXlPURZEcygHS4N2AQ16DAtBC389EwVoj5CYSCsXHReSPQIInZ2RXgYEpEgPCBobtLW2txsOEV1tNkghADs=);
    background-position: 95% center;
}