.pagination-top
{
    padding-top: 40px;
}

.pagination a:hover,
.pagination .active a,
.zebra-striped tbody tr:hover td,
.zebra-striped tbody tr:hover th
{
    background-color: rgba(141, 192, 219, 0.25);
}

table
{
    margin-bottom: 0;
}

table td
{
    vertical-align: middle;
}

table .title a
{
    font-size: 14px;
}

tfoot tr td
{
    font-weight: bold;
}
