.filter
{
    padding-top: 40px;
    cursor: pointer;
}

.pagination a:hover,
.pagination .active a,
.zebra-striped tbody tr:hover td,
.zebra-striped tbody tr:hover th
{
    background-color: rgba(141, 192, 219, 0.25);
}

table
{
    margin-bottom: 0;
}

table td
{
    vertical-align: middle;
}

table .title a
{
    font-size: 14px;
}

tfoot tr td
{
    font-weight: bold;
}

.search-form
{
    position: relative;
}

.reset-search
{
    position: absolute;
    position: absolute;
    right: 5px;
    color: #404040;
    opacity:0.4;
    font-size: 23px;
    font-weight: bold;
    background: none;
}

.reset-search:hover
{
    text-decoration: none;
    color: #000000;
}

.hidden
{
    display: none;
}

.search-message p
{
    float: left;
    margin-right: 1em;
}

.search-message a
{
    text-shadow: none;
}