/**
 * Layout common
 */
body
{
    padding-top: 80px;
}

.logout
{
    font-size: 12pt;
    margin-top: 10px;
}

h1
{
    margin-bottom: 2em;
    font-size: 30px;
    text-shadow: 1px 1px 1px #efefef;
    color: #9f9f9f;
}

.stats-list
{
    list-style: none;
    margin: 0;
    width: 80%;
}

.stats-list li
{
    background: rgba(223, 223, 223, 0.6);
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 1em;
}

.stats-list thead th:first-child
{
    max-width: 200px;
}

.stats-list table
{
    margin: 0;
}
thead th span
{
    box-shadow: 5px 5px 5px #ccc;
}
td.col-day-0
{
    font-weight: bold;
    font-size: 14pt;
}
