<section class="container-tree-data row-fluid"
    data-controller="{{client_side_controller.implementor}}"
    data-controller-options="{{client_side_controller.options|json_encode}}">

<!-- **************************************************
    Tree Controls/Widgets such as search and batch processing.
************************************************** -->
    <section class="well toolbar">
    </section>

    <section class="render-tree">
    </section>

    <script class="tree-data-json" type="application/json">
        {{tree|json_encode|raw}}
    </script>
</section>

