<div class="control-group">
    <label class="control-label" for="<?php echo $fieldId; ?>"><?php echo $tm->_($fieldName, $td); ?></label>
    <section class="honeybee-widget widget-tags-list" data-tags-list-options="<?php echo $widgetOptions; ?>">
    </section>
</div>
