<div class="control-group">
    <label class="control-label" for="{{fieldId}}">{{ tm._(fieldName, td) }}</label>
    <section class="honeybee-widget widget-tags-list" data-tags-list-options="{{ widgetOptions|raw }}">
    </section>
</div>
