

/* /home/vagrant/projects/honeybee-showcase/app/modules/Organization/resources/styles/styles.css */

.form-horizontal .control-group.field-wrapper-name
{
    margin-bottom: 35px;
}

.field-group-further_attributes .control-group
{
    margin: 0;
}

.field-group-description .control-group
{
    padding: 0 20px;
}